.intro {
  font-size: 2em;
  font-weight: bolder;
}

.intro h2 {
  color: #234567;
}

.intro img {
  border: 6px dashed green;
}

#non-intro {
  font-size: .5em;
  font-weight: normal;
}

.border {
  border: 5px solid purple;
  background-color: ;
}

p:hover{
  color: red;
}

.highlight{
  background-color: yellow;
}
